<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <form action="/add_user" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required>
        <br>
        <label><input type="checkbox" name="yesno" value="yes" checked>Add a movie to your favourites on the next page?</label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>