<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App Home</title>
</head>
<body>
    <h1>My Movie App</h1>
    <p><a href="{{ url_for('list_users') }}">Users</a></p>
    <form action="/users" method="POST">
        <label for="search">Search for user by name: </label>
        <input type="text" id="search" name="search" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>