<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>My Movie App</h1>
        <h4 class="users button"><a href="{{ url_for('list_users') }}">Users</a></h4>
        <form action="/users" method="POST">
            <label class="searchtext" for="search">Search for user by name: </label>
            <input class="searchfield" type="text" id="search" name="search" required>
            <br>
            <input class="submit button" type="submit" value="Submit">
        </form>
    </div>
    <p class="hometext">Welcome to my movie application, feel free to create your own account and add all your favourite movies to its library,<br>or simply navigate using the header above to see other users movie libraries. <br>All data is automatically saved and stored inside a json file.</p>
    <div class="image-container">
        {% for movie in movies %}
        <img src="{{ movie['image_url'] }}">
        {% endfor %}
    </div>
</body>
</html>