<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='update_movie_styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>Update Movie Info</title>
</head>
<body>
    <div class="header"><h1>Update Movie</h1></div>
    <form class="form" action="/users/{{ user_id }}/update_movie/{{ movie_id }}" method="POST">
    <label class="form-text" for="title">Title: </label>
    <input class="form-field" type="text" id="title" name="title" value="{{ movie_info['title'] }}" required>
    <br>
    <label class="form-text" for="name">Director: </label>
    <input class="form-field" type="text" id="director" name="director" value="{{ movie_info['director'] }}" required>
    <br>
    <label class="form-text" for="content">Year of release: </label>
    <input class="form-field" type="text" id="year" name="year" value="{{ movie_info['year'] }}" required>
    <br>
    <label class="form-text" for="content">Rating: </label>
    <input class="form-field" type="text" id="rating" name="rating" value="{{ movie_info['rating'] }}" required>
    <br>
    <input class="submit" type="submit" value="Update">
    </form>
</body>
</html>