<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='favourites_styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <title>{{ user }}'s Movies</title>
</head>
<body>
    <div class="header">
        <div class="left-header">
            <h1>{{ user }}'s Favourite Movies</h1> 
        </div>
        <div class="right-header">
            <p><a class="home button" href="{{ url_for('home') }}">Home</a>
            <a class="users button" href="{{ url_for('list_users') }}">Users</a>
            <form class="form" action="/users/{{ user_id }}/add_movie" method="POST">
                <label class="form-text" for="title">Movie title: </label>
                <input class="form-field" type="text" id="title" name="title" required>
                <input class="submit" type="submit" value="Add Movie">
            </form>
        </div>
    </div>
    <div class="movies">
        {% for movie_id, movie in movies.items() %}
    <div class="movie">
            <img class="image" src="{{ movie['image_url'] }}" class="image">
            <h4 class="title"><em>{{ movie['title'] }}</em></h4>
            <p>Directed by {{ movie['director'] }}</p>
            <p>Released in {{ movie['year'] }}</p>
            <p class="rating">Rating: {{ movie['rating'] }}</p>
            <p><a class='update minibutton' href="{{ url_for('update_movie', user_id=user_id, movie_id=movie_id ) }}">Update</a>
                <a class='delete minibutton' href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id ) }}">Delete</a></p>
        <br>
    </div>
    {% endfor %}
    </div>
</body>
</html>